<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHIMHAY</title>
   
    <link rel="preload" href="../views/cp144.css" as="style"/>
    <link rel="stylesheet" href="../views/cp144.css"/>
    <link rel="preload" href="../views/cp141.css" as="style"/>
    <link rel="stylesheet" href="../views/cp141.css"/>
    <link rel="preload" href="../views/cp16b.css" as="style"/>
    <link rel="stylesheet" href="../views/cp16b.css"/>
</head>
<body>
    <header>
        <nav class="layout_navbarWidescreen__DSXBH navbar is-fixed-top layout_navbar__1COmD" role="navigation" aria-label="Desktop navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <div class="layout_logoText__3aVvH">PHIMHAY</div>
                </a>
            </div>
            <div class="navbar-menu">
                <!-- Menu trên -->
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown layout_search__32vpf">
                        <a class="navbar-link is-arrowless" href="/search">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path>
                                </svg>
                                Tìm kiếm
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item has-dropdown faq">
                        <a class="navbar-link is-arrowless" href="/top">Phim Hot</a>
                    </div>
                </div>
                
                <!-- Menu dưới -->
                <div class="navbar-end">
                    <!-- Các phần tử menu dưới -->
                    <div class="user-profile">
                        <div class="avatar-circle" id="userAvatar">
                            <img src="../assets/images/default-avatar.png" alt="User Avatar">
                        </div>
                        <div class="user-dropdown" id="userDropdown">
                            <a href="/profile">
                                <ion-icon name="person-outline"></ion-icon>
                                Tài khoản
                            </a>
                            <a href="/tickets">
                                <ion-icon name="ticket-outline"></ion-icon>
                                Vé đã mua
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout">
                                <ion-icon name="log-out-outline"></ion-icon>
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content wrapper -->
    <main class="main-content">
        <section class="section">
            <div class="container">
                <div class="title_homepage__3xhkI">
                    <div class="columns is-multiline is-mobile title_filters__2FjQh">
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Loại phim:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="">- Tất cả -</option>
                                            <option value="movie">Phim Lẻ</option>
                                            <option value="show">Phim Bộ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Thể loại:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="">- Tất cả -</option>
                                            <option value="am-nhac">Âm nhạc</option>
                                            <option value="bi-an">Bí ẩn</option>
                                            <option value="chien-tranh">Chiến tranh</option>
                                            <option value="chien-tranh-chinh-tri">Chiến tranh &amp;Chính trị</option>
                                            <option value="chinh-kich">Chính kịch</option>
                                            <option value="gia-dinh">Gia đình</option>
                                            <option value="giat-gan">Giật gân</option>
                                            <option value="hai">Hài</option>
                                            <option value="hanh-dong">Hành động</option>
                                            <option value="hanh-dong-phieu-luu">Hành động &amp;Phiêu lưu</option>
                                            <option value="hoat-hinh">Hoạt hình</option>
                                            <option value="kinh-di">Kinh dị</option>
                                            <option value="ky-ao">Kỳ ảo</option>
                                            <option value="lang-man">Lãng mạn</option>
                                            <option value="lich-su">Lịch sử</option>
                                            <option value="noi-chuyen">Nói chuyện</option>
                                            <option value="phieu-luu">Phiêu lưu</option>
                                            <option value="phim-dai-ky">Phim dài kỳ</option>
                                            <option value="tai-lieu">Tài liệu</option>
                                            <option value="thuc-te">Thực tế</option>
                                            <option value="tin-tuc">Tin tức</option>
                                            <option value="toi-pham">Tội phạm</option>
                                            <option value="tre-em">Trẻ em</option>
                                            <option value="truyen-hinh">Truyền hình</option>
                                            <option value="vien-tay">Viễn Tây</option>
                                            <option value="vien-tuong">Viễn tưởng</option>
                                            <option value="vien-tuong-than-thoai">Viễn tưởng &amp;Thần thoại</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Quốc gia:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="">- Tất cả -</option>
                                            <option value="US">Mỹ</option>
                                            <option value="KR">Hàn Quốc</option>
                                            <option value="GB">Anh</option>
                                            <option value="FR">Pháp</option>
                                            <option value="CA">Canada</option>
                                            <option value="HK">Hồng Kông</option>
                                            <option value="JP">Nhật Bản</option>
                                            <option value="CN">Trung Quốc</option>
                                            <option value="TW">Đài Loan</option>
                                            <option value="IN">Ấn Độ</option>
                                            <option value="TH">Thái Lan</option>
                                            <option value="AU">Úc</option>
                                            <option value="VN">Việt Nam</option>
                                            <option value="DE">Đức</option>
                                            <option value="SE">Thụy Điển</option>
                                            <option value="IT">Ý</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IE">Ai-len</option>
                                            <option value="MT">Malta</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="RU">Nga</option>
                                            <option value="IS">Iceland</option>
                                            <option value="FI">Phần Lan</option>
                                            <option value="MW">Ma-la-uy</option>
                                            <option value="CO">Colombia</option>
                                            <option value="DK">Đan Mạch</option>
                                            <option value="BE">Bỉ</option>
                                            <option value="ES">Tây Ban Nha</option>
                                            <option value="AR">Argentina</option>
                                            <option value="NL">Hà Lan</option>
                                            <option value="NO">Na Uy</option>
                                            <option value="SG">Singapore</option>
                                            <option value="PL">Ba Lan</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="NP">Nepal</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="KH">Campuchia</option>
                                            <option value="PH">Philippines</option>
                                            <option value="TR">Thổ Nhĩ Kỳ</option>
                                            <option value="MA">Morocco</option>
                                            <option value="BR">Brazil</option>
                                            <option value="MX">Mexico</option>
                                            <option value="CZ">Séc</option>
                                            <option value="RO">Rumani</option>
                                            <option value="PS">Palestine</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="ZA">Nam Phi</option>
                                            <option value="AT">Áo</option>
                                            <option value="CH">Thụy Sĩ</option>
                                            <option value="SA">Ả Rập Xê-út</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Năm:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="">- Tất cả -</option>
                                            <option value="2025">2025</option>
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="-2012">Trước 2012</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Thời lượng:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="">- Tất cả -</option>
                                            <option value="0-30">Dưới 30 phút</option>
                                            <option value="30-60">30 &#x27;- 1 tiếng</option>
                                            <option value="60-90">1 - 1.5 tiếng</option>
                                            <option value="90-120">1.5 - 2 tiếng</option>
                                            <option value="120-150">2 - 2.5 tiếng</option>
                                            <option value="150-180">2.5 - 3 tiếng</option>
                                            <option value="180-0">Trên 3 tiếng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6-mobile">
                            <div class="field">
                                <label class="label">Sắp xếp:</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option selected="" value="updated">Ngày cập nhật</option>
                                            <option value="publishDate">Ngày phát hành</option>
                                            <option value="rating">Điểm đánh giá</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <span>Phim đề cử</span>
                    </h2>
                    <div class="title-list">
                        <div class="grid columns is-mobile is-multiline is-variable is-2">
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/daredevil-born-again~55310">
                                    <img src="https://image.tmdb.org/t/p/w342/9lLuhV703HGCbnz6FxnqCwIwzAZ.jpg" alt="Daredevil: Born Again" title="Daredevil: Born Again"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/daredevil-born-again~55310">Hiệp sĩ mù: Tái sinh</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/daredevil-born-again~55310">Daredevil: Born Again</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/invincible~9680">
                                    <img src="https://image.tmdb.org/t/p/w342/jBn4LWlgdsf6xIUYhYBwpctBVsj.jpg" alt="Invincible" title="Invincible"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/invincible~9680">Bất Khả Chiến Bại</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/invincible~9680">Invincible</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/study-group~54299">
                                    <img src="https://image.tmdb.org/t/p/w342/1x3xfnXQpxVfiRXUTqzX4CxU8yf.jpg" alt="Study Group" title="Study Group"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/study-group~54299">Đầu gấu học nhóm</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/study-group~54299">Study Group</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/mufasa-the-lion-king~53366">
                                    <img src="https://image.tmdb.org/t/p/w342/lurEK87kukWNaHd0zYnsi3yzJrs.jpg" alt="Mufasa: The Lion King" title="Mufasa: The Lion King"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/mufasa-the-lion-king~53366">Mufasa: Vua sư tử</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/mufasa-the-lion-king~53366">Mufasa: The Lion King</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/the-gorge~54697">
                                    <img src="https://image.tmdb.org/t/p/w342/6xuPvqv8VAsXXACCwLjUgsIDe05.jpg" alt="The Gorge" title="The Gorge"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/the-gorge~54697">Hẻm núi</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/the-gorge~54697">The Gorge</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-fullhd">
                                <a class="cover" href="/movie/the-prosecutor~54267">
                                    <img src="https://image.tmdb.org/t/p/w342/q8Wmy23507g5QI3J0kiMof3wlcb.jpg" alt="The Prosecutor" title="The Prosecutor"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/the-prosecutor~54267">Phán Quyết Sai Lầm</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/the-prosecutor~54267">The Prosecutor</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-tablet-only is-hidden-fullhd">
                                <a class="cover" href="/movie/moana-2~53459">
                                    <img src="https://image.tmdb.org/t/p/w342/aLVkiINlIeCkcZIzb7XHzPYgO6L.jpg" alt="Moana 2" title="Moana 2"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/moana-2~53459">Hành trình của Moana 2</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/moana-2~53459">Moana 2</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-tablet-only is-hidden-fullhd">
                                <a class="cover" href="/movie/sonic-the-hedgehog-3~53457">
                                    <img src="https://image.tmdb.org/t/p/w342/d8Ryb8AunYAuycVKDp5HpdWPKgC.jpg" alt="Sonic the Hedgehog 3" title="Sonic the Hedgehog 3"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/sonic-the-hedgehog-3~53457">Nhím Sonic 3</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/sonic-the-hedgehog-3~53457">Sonic the Hedgehog 3</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <span>Phim lẻ mới cập nhật</span>
                        <a href="/type/movie">
                            Xem tất cả 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                            </svg>
                        </a>
                    </h2>
                    <div class="title-list">
                        <div class="grid columns is-mobile is-multiline is-variable is-2">
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/hitman-2~55718">
                                    <img src="https://image.tmdb.org/t/p/w342/oMocciufHx1x1yVfZQFnbCYd8FI.jpg" alt="Hitman 2" title="Hitman 2"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/hitman-2~55718">Sát Thủ Vô Cùng Cực Hài</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/hitman-2~55718">Hitman 2</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/the-electric-state~55665">
                                    <img src="https://image.tmdb.org/t/p/w342/1TZ9Er1xEAKizzKKqYVgJIhNkN2.jpg" alt="The Electric State" title="The Electric State"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/the-electric-state~55665">Xứ sở robot</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/the-electric-state~55665">The Electric State</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/crosspoint~55667">
                                    <img src="https://image.tmdb.org/t/p/w342/lu2DVipQhPLmYvlVblbU8MhYSuo.jpg" alt="Crosspoint" title="Crosspoint"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/crosspoint~55667">Giao điểm</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/crosspoint~55667">Crosspoint</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/qimen-mechanism-volume~55605">
                                    <img src="https://image.tmdb.org/t/p/w342/cACC8N7cZWscPrlcNdPsx43xJmx.jpg" alt="Qimen Mechanism Volume" title="Qimen Mechanism Volume"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/qimen-mechanism-volume~55605">Cơ Quan Kỳ Môn</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/qimen-mechanism-volume~55605">Qimen Mechanism Volume</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/spy-puzzle~55604">
                                    <img src="https://image.tmdb.org/t/p/w342/dKTY5y2o598eKEvM3Qb4OG2hrKv.jpg" alt="Spy Puzzle" title="Spy Puzzle"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/spy-puzzle~55604">Điệp Đồ Mê Cục</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/spy-puzzle~55604">Spy Puzzle</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/the-fire-inside~55560">
                                    <img src="https://image.tmdb.org/t/p/w342/dMorkoCdZJ1xmKv0VAXcpUax6Ar.jpg" alt="The Fire Inside" title="The Fire Inside"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/the-fire-inside~55560">Ngọn lửa trong lòng</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/the-fire-inside~55560">The Fire Inside</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/the-last-showgirl~55559">
                                    <img src="https://image.tmdb.org/t/p/w342/o70dV2jjGd6TmYTMOY9b34OLzDK.jpg" alt="The Last Showgirl" title="The Last Showgirl"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/the-last-showgirl~55559">Đêm diễn cuối cùng</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/the-last-showgirl~55559">The Last Showgirl</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/movie/fateh~55557">
                                    <img src="https://image.tmdb.org/t/p/w342/koj6YOGltFo8L42NFldJMw5M0dU.jpg" alt="Fateh" title="Fateh"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/fateh~55557">Fateh</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/fateh~55557">Fateh</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-desktop-only is-hidden-widescreen-only">
                                <a class="cover" href="/movie/ghost-cat-anzu~55510">
                                    <img src="https://image.tmdb.org/t/p/w342/rJSSc7vbLseCOjsgDnCKtVNs9Qe.jpg" alt="Ghost Cat Anzu" title="Ghost Cat Anzu"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/ghost-cat-anzu~55510">Mèo ma bê tha</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/ghost-cat-anzu~55510">Ghost Cat Anzu</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                                <a class="cover" href="/movie/captain-america-brave-new-world~55478">
                                    <img src="https://image.tmdb.org/t/p/w342/pzIddUEMWhWzfvLI3TwxUG2wGoi.jpg" alt="Captain America: Brave New World" title="Captain America: Brave New World"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/movie/captain-america-brave-new-world~55478">Captain America: Thế Giới Mới</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/movie/captain-america-brave-new-world~55478">Captain America: Brave New World</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <span>Phim bộ mới cập nhật</span>
                        <a href="/type/show">
                            Xem tất cả 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                <path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
                            </svg>
                        </a>
                    </h2>
                    <div class="title-list">
                        <div class="grid columns is-mobile is-multiline is-variable is-2">
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/filter~55203">
                                    <img src="https://image.tmdb.org/t/p/w342/jIHUqy8AgcSDRmRBFgWCwb2BioU.jpg" alt="Filter" title="Filter"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/filter~55203">Lự kính / Bộ lọc</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/filter~55203">Filter</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/newtopia~54401">
                                    <img src="https://image.tmdb.org/t/p/w342/cIC36RA59lg9ruYtPc7UA3f72yy.jpg" alt="Newtopia" title="Newtopia"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/newtopia~54401">Newtopia</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/newtopia~54401">Newtopia</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/the-wheel-of-time~18172">
                                    <img src="https://image.tmdb.org/t/p/w342/eVm7vI0VTUKYzgpOXCUu9qz3L4E.jpg" alt="The Wheel of Time" title="The Wheel of Time"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/the-wheel-of-time~18172">Bánh Xe Thời Gian</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/the-wheel-of-time~18172">The Wheel of Time</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/i-may-be-a-guild-receptionist-but-ill-solo-any-boss-to-clock-out-on-time~53517">
                                    <img src="https://image.tmdb.org/t/p/w342/n9WZ97NUkT0Gc7ro6kVw1qe4ItR.jpg" alt="I May Be a Guild Receptionist, but I&#x27;ll Solo Any Boss to Clock Out on Time" title="I May Be a Guild Receptionist, but I&#x27;ll Solo Any Boss to Clock Out on Time"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/i-may-be-a-guild-receptionist-but-ill-solo-any-boss-to-clock-out-on-time~53517">Có thể tôi chỉ là một lễ tân hội, nhưng tôi sẽ một mình đánh bại bất kỳ Boss nào để tan làm đúng giờ</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/i-may-be-a-guild-receptionist-but-ill-solo-any-boss-to-clock-out-on-time~53517">I May Be a Guild Receptionist, but I &#x27;ll Solo Any Boss to Clock Out on Time</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/the-apothecary-diaries~40767">
                                    <img src="https://image.tmdb.org/t/p/w342/e3ojpANrFnmJCyeBNTinYwyBCIN.jpg" alt="The Apothecary Diaries" title="The Apothecary Diaries"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/the-apothecary-diaries~40767">Dược sư tự sự</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/the-apothecary-diaries~40767">The Apothecary Diaries</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/when-life-gives-you-tangerines~55434">
                                    <img src="https://image.tmdb.org/t/p/w342/q29q6AByug53pnylCytwLA7m6AY.jpg" alt="When Life Gives You Tangerines" title="When Life Gives You Tangerines"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/when-life-gives-you-tangerines~55434">Khi cuộc đời cho bạn quả quýt</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/when-life-gives-you-tangerines~55434">When Life Gives You Tangerines</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/invincible~9680">
                                    <img src="https://image.tmdb.org/t/p/w342/jBn4LWlgdsf6xIUYhYBwpctBVsj.jpg" alt="Invincible" title="Invincible"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/invincible~9680">Bất Khả Chiến Bại</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/invincible~9680">Invincible</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile">
                                <a class="cover" href="/tv/severance~22689">
                                    <img src="https://image.tmdb.org/t/p/w342/pPHpeI2X1qEd1CS1SeyrdhZ4qnT.jpg" alt="Severance" title="Severance"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/severance~22689">Cắt Rời Ký Ức</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/severance~22689">Severance</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-desktop-only is-hidden-widescreen-only">
                                <a class="cover" href="/tv/blue-box~48671">
                                    <img src="https://image.tmdb.org/t/p/w342/mVAWCCNBxPX3EUf9XhcFff4wW5V.jpg" alt="Blue Box" title="Blue Box"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/blue-box~48671">Blue Box</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/blue-box~48671">Blue Box</a>
                                </h3>
                            </div>
                            <div class="column is-one-fifth-fullhd is-one-quarter-desktop is-one-third-tablet is-half-mobile is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                                <a class="cover" href="/tv/dr-stone~17034">
                                    <img src="https://image.tmdb.org/t/p/w342/xbZQ3fDl0y5mt0ARwfeyrgQ4JTw.jpg" alt="Dr. Stone" title="Dr. Stone"/>
                                </a>
                                <h3 class="name vi">
                                    <a href="/tv/dr-stone~17034">Dr. Stone</a>
                                </h3>
                                <h3 class="name en">
                                    <a href="/tv/dr-stone~17034">Dr. Stone</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="../"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>